# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
cat <<EOF > .gitignore
lib/
out/
cache/
broadcast/
.env
remappings.txt
EOF
